span{
    border: 2px solid crimson;
    margin: 40px;
    padding: 40px;
    background-color: darkgoldenrod;
}


div{
    border: 2px solid crimson;
    margin: 20px; /*top left right...*/
    padding: 20px;
    
}
